{
  "@context": {
    "cc": "http://creativecommons.org/ns#",
    "commerce": "http://search.yahoo.com/searchmonkey/commerce/",
    "coo": "http://purl.org/coo/ns#",
    "ctag": "http://commontag.org/ns#",
    "dbpedia": "http://dbpedia.org/resource/",
    "dc": "http://purl.org/dc/elements/1.1/",
    "dcterms": "http://purl.org/dc/terms/",
    "eco": "http://www.ebusiness-unibw.org/ontologies/eclass/5.1.4/#",
    "fab": "http://purl.org/fab/ns#",
    "foaf": "http://xmlns.com/foaf/0.1/",
    "gr": "http://purl.org/goodrelations/v1#",
    "grddl": "http://www.w3.org/2003/g/data-view#",
    "ical": "http://www.w3.org/2002/12/cal/icaltzd#",
    "og": "http://ogp.me/ns#",
    "owl": "http://www.w3.org/2002/07/owl#",
    "rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
    "rdfa": "http://www.w3.org/ns/rdfa#",
    "rdfs": "http://www.w3.org/2000/01/rdf-schema#",
    "rev": "http://purl.org/stuff/rev#",
    "review": "http://purl.org/stuff/rev#",
    "rif": "http://www.w3.org/2007/rif#",
    "s": "http://schema.org/",
    "sioc": "http://rdfs.org/sioc/ns#",
    "skos": "http://www.w3.org/2004/02/skos/core#",
    "skosxl": "http://www.w3.org/2008/05/skos-xl#",
    "tio": "http://purl.org/tio/ns#",
    "v": "http://rdf.data-vocabulary.org/#",
    "vcard": "http://www.w3.org/2006/vcard/ns#",
    "void": "http://rdfs.org/ns/void#",
    "vso": "http://purl.org/vso/ns#",
    "vvo": "http://purl.org/vvo/ns#",
    "wdr": "http://www.w3.org/2007/05/powder#",
    "wdsr": "http://www.w3.org/2007/05/powder-s#",
    "xhv": "http://www.w3.org/1999/xhtml/vocab#",
    "xro": "http://www.stalsoft.com/ontologies/xro/ns#",
    "xsd": "http://www.w3.org/2001/XMLSchema#"
  },
  "@id": [
    {
      "@id": "http://www.ebusiness-unibw.org",
      "xhv:icon": {
        "@id": "http://www.ebusiness-unibw.org/favicon.ico"
      },
      "xhv:stylesheet": {
        "@id": "http://www.ebusiness-unibw.org/ebindex.css"
      }
    },
    {
      "@id": "http://www.ebusiness-unibw.org#vcard",
      "@type": [
        "vcard:VCard",
        "commerce:Business"
      ],
      "rdfs:label": {
        "@language": "en",
        "@value": "E-Business and Web Science Research Group"
      },
      "vcard:adr": {
        "@type": "vcard:Address",
        "vcard:country-name": {
          "@language": "en",
          "@value": "Germany"
        },
        "vcard:locality": {
          "@language": "en",
          "@value": "Neubiberg"
        },
        "vcard:postal-code": "85579",
        "vcard:region": "Bavaria",
        "vcard:street-address": {
          "@language": "en",
          "@value": "Werner-Heisenberg-Weg 39"
        }
      },
      "vcard:fn": {
        "@language": "en",
        "@value": "E-Business and Web Science Research Group"
      },
      "vcard:geo": {
        "vcard:latitude": 48.081662999999999,
        "vcard:longitude": 11.637912
      },
      "vcard:photo": {
        "@id": "http://www.ebusiness-unibw.org/logo.png"
      },
      "vcard:tel": "+49-89-6004-4217",
      "vcard:url": {
        "@id": "http://www.ebusiness-unibw.org/"
      }
    }
  ]
}