{
  "http://www.acme.com/#store": {
    "http://purl.org/goodrelations/v1#hasOpeningHoursSpecification": [
      {
        "type": "bnode", 
        "value": "_:b0"
      }
    ], 
    "http://www.w3.org/1999/02/22-rdf-syntax-ns#type": [
      {
        "type": "uri", 
        "value": "http://purl.org/goodrelations/v1#Location"
      }
    ], 
    "http://purl.org/goodrelations/v1#name": [
      {
        "type": "literal", 
        "value": "Hepp's Happy Burger Restaurant"
      }
    ]
  }, 
  "_:b0": {
    "http://purl.org/goodrelations/v1#hasOpeningHoursDayOfWeek": [
      {
        "type": "uri", 
        "value": "http://purl.org/goodrelations/v1#Friday"
      }, 
      {
        "type": "uri", 
        "value": "http://purl.org/goodrelations/v1#Wednesday"
      }, 
      {
        "type": "uri", 
        "value": "http://purl.org/goodrelations/v1#Tuesday"
      }, 
      {
        "type": "uri", 
        "value": "http://purl.org/goodrelations/v1#Thursday"
      }, 
      {
        "type": "uri", 
        "value": "http://purl.org/goodrelations/v1#Monday"
      }
    ], 
    "http://www.w3.org/1999/02/22-rdf-syntax-ns#type": [
      {
        "type": "uri", 
        "value": "http://purl.org/goodrelations/v1#OpeningHoursSpecification"
      }
    ], 
    "http://purl.org/goodrelations/v1#opens": [
      {
        "type": "literal", 
        "value": "08:00:00"
      }
    ], 
    "http://purl.org/goodrelations/v1#closes": [
      {
        "type": "literal", 
        "value": "20:00:00"
      }
    ]
  }
}

